.des{
    color: cadetblue;
    background:rgb(27, 123, 179);
    color: rgb(9, 69, 104);
    border:2px solid rgb(0, 86, 92);
    

}
button{
    color: blueviolet;
}
input[type="submit"]{
    color: crimson;
}