{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/external.css' %}">
        <style>
            /* h1{
                color:brown;
                background-color:coral;
                text-align: center;
                border:2pc;
            } */
            body{
                background-color: rgb(41, 150, 144);
            }
        </style>
    </head>
    <body>
        <h1 align="center" class="des">Login</h1>
        <form action="" method="">
            Username:<input type="text" name="uname" placeholder="text here"><br><br>
            Password:<input type="password" name="pwd" placeholder="password"><br><br>
            <input type="submit" value="login" >
             <button>Reset</button>
        </form>
    </body>
</html>